main {
  font-size: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(to left,#AABCFF,#7894FE);
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
  }

.container img {
    max-width:200px;
    max-height:260px;
    width: auto;
    height: auto;
}

form{
  block-size: 125px;
	display: grid;
	align-items: center;
  width: 200px;
}
input#btn1 , input#btn2 , input#btn3 , input#play, input#chMode{
  border-style: solid;
  background-color: #ff8a41;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}
p{
  font-size: 20px;
}
input#P1_name ,input#P2_name {
  border-color: black;
  border-radius: 4px;
  border-style: solid;
}  