main {
  font-size: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aliceblue;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
  }

.container img {
    max-width:200px;
    max-height:260px;
    width: auto;
    height: auto;
}

form{
  block-size: 75px;
	display: grid;
	align-items: center;
  width: 200px;
}
