.container {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.credits {
    width: 50%;
    padding: 20px;
}

button {
    width: 480px;
    height: 270px;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-image {
    top: 0;
    width: 480px;
    height: 270px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-image:hover {
    width: 480px;
    height: 270px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    top: -5px;
    box-shadow: 0 5px 5px #999;
    transition: all .2s ease-in-out
}
