
.container {
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.credits {
    width: 50%;
    padding: 20px;
}

button {
    width: 177px;
    height: 236px;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-image {
    width: 177px;
    height: 236px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}